name: Aws EC2 Deployments 

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3
    
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Ansible
      run: pip install ansible docker

    - name: Configure SSH Key
      run: |
        mkdir -p ~/.ssh/
        echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

    - name: Create Inventory File
      run: |
        echo "[aws_ec2]" > hosts.ini
        echo "${{ secrets.EC2_HOST }} ansible_user=${{ secrets.ANSIBLE_USER }} ansible_ssh_private_key_file=~/.ssh/id_rsa" >> hosts.ini

    - name: Run Playbook
      run: |
        ansible-playbook -i hosts.ini deploy.yml \
          --extra-vars "db_host=${{ secrets.RDS_ENDPOINT }} db_password=${{ secrets.DB_PASSWORD }}"